@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
	background-color: #f2f1f0;
	padding: 80px 0;
    padding-left: 25%;
    border-top: 1px gray;

}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #0d6e9b;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #3583b0;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
.popup-button {
    padding: 10px 20px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 115%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-container.show {
    display: flex;
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 30%;
	z-index: 2;
    font-size: 20px;
    cursor: pointer;
}

.submit-button {
    background-color: #1e3a8a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.submit-button:hover, .popup-button:hover {
    background-color: #2c5282;
}
body{
	color:#fff
  }
  .right_conatct_social_icon[_ngcontent-ng-c3416074733] {
    background: linear-gradient(to top right, #1bbbdc -5%, #1065b7 100%);
}
  .contact_us{
	  padding: 120px 0px;
  }
  
  .contact_inner{
	  background-color: #fff;
	  position: relative;
	  box-shadow: 20px 22px 44px #cccc;
	  border-radius: 25px;
  }
  .contact_field{
	  padding: 60px 340px 90px 100px;
  }
  .right_conatct_social_icon{
	  height: 100%;
  }
  
  .contact_field h3{
	 color: #000;
	  font-size: 40px;
	  letter-spacing: 1px;
	  font-weight: 600;
	  margin-bottom: 10px
  }
  .contact_field p{
	  color: #000;
	  font-size: 13px;
	  font-weight: 400;
	  letter-spacing: 1px;
	  margin-bottom: 35px;
  }
  .contact_field .form-control{
	  border-radius: 0px;
	  border: none;
	  border-bottom: 1px solid #ccc;
  }
  .contact_field .form-control:focus{
	  box-shadow: none;
	  outline: none;
	  border-bottom: 2px solid #1325e8;
  }
  .contact_field .form-control::placeholder{
	  font-size: 13px;
	  letter-spacing: 1px;
  }
  
  .contact_info_sec {
	  position: absolute;
	  background-color: #f1f1f1;
	  right: 1px;
	  top: 18%;
	  height: 340px;
	  width: 340px;
	  padding: 40px;
	  border-radius: 25px 0 0 25px;
  }
  .contact_info_sec h4{
	  letter-spacing: 1px;
	  padding-bottom: 15px;
  }
  
  .info_single{
	  margin: 30px 0px;
  }
  .info_single i{
	  margin-right: 15px;
  }
  .info_single span{
	  font-size: 14px;
	  letter-spacing: 1px;
  }
  
  button.contact_form_submit {
    background: linear-gradient(to top right, #1bbbdc -5%, #1065b7 100%);
	  border: none;
	  color: #fff;
	  padding: 10px 15px;
	  width: 100%;
	  margin-top: 25px;
	  border-radius: 35px;
	  cursor: pointer;
	  font-size: 14px;
	  letter-spacing: 2px;
  }
  .socil_item_inner li{
	  list-style: none;
  }
  .socil_item_inner li a{
	  color: #fff;
	  margin: 0px 15px;
	  font-size: 14px;
  }
  .socil_item_inner{
	  padding-bottom: 10px;
  }
  
  .map_sec{
	  padding: 50px 0px;
  }
  .map_inner h4, .map_inner p{
	  color: #000;
	  text-align: center
  }
  .map_inner p{
	  font-size: 13px;
  }
  .map_bind{
	 margin-top: 50px;
	  border-radius: 30px;
	  overflow: hidden;
  }