<div class="section-padding">
<div class="hotels-container">
    <div class="hotels-header">Your favorite hotels</div>
  
    <div class="hotels-content">
      <div class="hotel-list">
        <div class="hotel-list-inner" *ngFor="let group of groupedHotels">
          <!-- Display the location and the total available rooms -->
          <h3>{{ group.location }}</h3>
          <p class="justify hotel-availability">Available in total: {{ group.totalAvailable }}
  
          <!-- Toggle the visibility of all hotels under this location -->
            <span class="hotel-hide-btn" (click)="toggleShowDetails(group)">
              {{ group.showDetails ? 'Hide' : 'Show' }} all hotels
            </span>
        </p>
            <!-- <svg
              class="toggle-icon"
              [ngClass]="{ 'rotate-icon': group.showDetails }"
              width="16"
              height="16"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="nonzero"
                d="M10.908 14.623l6.139-6.14c.5-.499.5-1.315 0-1.815l-.172-.174a1.29 1.29 0 0 0-1.817 0L10 11.553l-5.06-5.06a1.288 1.288 0 0 0-1.814 0l-.173.175c-.5.5-.5 1.316 0 1.816l6.14 6.139a1.288 1.288 0 0 0 1.815 0"
              ></path>
            </svg> -->
         
  
          <!-- Use ng-container for *ngIf -->
          <ng-container *ngIf="group.showDetails">
            <!-- Loop through the hotels under the same location -->
            <article *ngFor="let hotel of group.hotels">
              <section class="hotel-section">
               
                <section class="hotel-details">
                  <div class="hotel-card">
                    <div class="hotel-image-container">
                      <img class="hotel-image" [src]="hotel.imageUrl" />
                    </div>
                    <div class="hotel-description">
                      <div class="hotel-stars">
                        <div class="star" *ngFor="let star of [].constructor(hotel.stars)"></div>
                      </div>
                      <a [href]="hotel.url" target="_blank" rel="noreferrer noopener" class="hotel-name">
                        {{ hotel.name }}
                      </a>
                      <span class="hotel-address">{{ hotel.address }}</span>
                    </div>
                    <div class="hotel-rating">{{ hotel.rating }}</div>
                  </div>
                </section>
  
                <div class="hotel-action">
                  <button class="hotel-copy-btn" (click)="copyToClipboard(hotel)" tabindex="0">
                    <span>Copy</span>
                  </button>
                </div>
              </section>
            </article>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
  