<div class="section-padding">
  <div class="hotels-container">
    <div class="hotels-header">Your favorite hotels</div>
  
    <div class="hotels-content">
      <div class="hotel-list">
        <div class="hotel-list-inner" *ngFor="let group of groupedHotels">
          <!-- Display the location and the total available rooms -->
          <h3>{{ group.location }}</h3>
          <div class="hotel-header">
            <!-- <p class="hotel-availability">Available in total: {{ group.totalAvailable }}</p> -->
            
            <!-- Toggle the visibility of all hotels under this location -->
            <span class="hotel-hide-btn" (click)="toggleShowDetails(group)">
              {{ group.showDetails ? 'Hide' : 'Show' }} all hotels
            </span>
          </div>
          

          <!-- Use ng-container for *ngIf -->
          <ng-container *ngIf="group.showDetails">
            <article *ngFor="let hotel of group.hotels">
              <section class="hotel-section">
                <section class="hotel-details">
                  <div class="hotel-card">
                    <!-- Image container -->
                    <div class="hotel-image-container">
                      <img class="hotel-image" [src]="getRoomImageUrl( hotel.imageUrl)" alt="{{ hotel.name }}" />

                      <!-- Heart icon for liking hotels -->
                      <div class="hotel-like-icon" (click)="toggleLike(hotel)">
                        <i [ngClass]="hotel.isLiked ? 'fas fa-heart' : 'far fa-heart'" class="like-icon" aria-label="Like"></i>
                      </div>
                      
                    </div>

                    <!-- Hotel Description -->
                    <div class="hotel-description">
                      <!-- Star rating -->
                      <div class="hotel-stars">
                        <ng-container *ngFor="let star of [].constructor(hotel.stars)">
                          <i class="fa fa-star"></i> <!-- Display a filled star for each star rating -->
                        </ng-container>
                      </div>

                      <!-- Hotel name with link -->
                      <a [href]="hotel.url" target="_blank" rel="noreferrer noopener" class="hotel-name">
                        {{ hotel.name }}
                      </a>

                      <!-- Hotel address -->
                      <span class="hotel-address">{{ hotel.address }}</span>
                    </div>

                    <!-- Hotel rating -->
                    <div class="hotel-rating">{{ hotel.rating ? hotel.rating : '' }}</div>
                  </div>
                </section>
              </section>
            </article>
          </ng-container>
          
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert *ngIf="!userData" [message]="'Please log in to continue. 😔'" type="error"></app-alert>
