<div class="section-padding">

<div class="container-xl">
    <div class="row">
      <div class="col-sm-12">
        <h2>What <b>our customers</b> are saying</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li *ngFor="let testimonial of chunk(testimonials, 2); let i = index" [class.active]="i === 0" [attr.data-slide-to]="i" data-target="#myCarousel"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div *ngFor="let testimonialPair of chunk(testimonials, 2); let i = index" class="carousel-item" [class.active]="i === 0">
              <div class="row">
                <div class="col-sm-6" *ngFor="let testimonial of testimonialPair">
                  <div class="media">
                    <img [src]="testimonial.image" class="mr-3" alt="">
                    <div class="media-body">
                      <div class="testimonial">
                        <p>{{ testimonial.text }}</p>
                        <div class="rating">
                          <ng-container *ngFor="let star of [].constructor(5); let i = index">
                            <i class="fa" [ngClass]="{'fa-star': i < testimonial.rating, 'fa-star-o': i >= testimonial.rating}"></i>
                          </ng-container>
                        </div>
                        <p class="overview"><b>{{ testimonial.name }}</b>, {{ testimonial.position }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>