<div class="section-padding">

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col mt-5 d-flex justify-content-center" *ngFor="let item of cards">
            <div class="card">
                <div class="card-items">
                    <div class="cover">
                        <i ngClass="{{item.icon}}"></i>
                    </div>
                    <div class="card-body">
                        <h3>{{item.title}}</h3>
                        <p>{{item.desc}}</p>
                        <a href="#">Read more ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>