<header>
    <div class="container mt-5">
        <div class="header-text">
            <h1>Other Rooms</h1>
        </div>
    </div>
</header>

<main>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                <div class="col mt-5 d-flex justify-content-center" *ngFor="let item of products">
                    <div class="card">
                        <div class="card-items">
                            <img src="https://images.trvl-media.com/lodging/16000000/15840000/15835100/15835033/cbb31f78.jpg?impolicy=fcrop&w=1200&h=800&p=1&q=medium"
                                class="card-img-top" alt="...">
                            <div class="card-body-top">
                                <div class="info">
                                    <p class="card-text">Deluxe Twin Room</p>
                                    <div class="prices">
                                        <p class="price">$299</p>
                                        <p class="night">a night</p>
                                    </div>

                                </div>
                                <button>BOOK NOW</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
</main>