<nav *ngIf="!hideLogin" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="navbar-logo" src="assets/RhTravel-Color-Logo.png" alt="RH Travel Logo">
    </a>
    <ul class="navbar-nav ml-auto d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/user/fav"><i class="fa fa-heart nav-icon" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-bell nav-icon" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item dropdown">
        <ng-select 
        (change)="changeCurrency($event)"
        [(ngModel)]="selectedCurrency"
        [style.width]="'130px'" placeholder="Currency" >
        <ng-container  *ngFor="let currency of filteredAllCurrencies">
          <ng-option [value]="currency">{{currency | slice:0:3}}</ng-option>
        </ng-container>
           >
</ng-select>
     
      </li>      
      <div class="bfh-selectbox bfh-currencies" data-currency="EUR" data-flags="true">
      </div>
    
      <div class="elfsight-app-84d0b7e8-e859-4ab2-ae91-6ebb4aaad4c4" data-elfsight-app-lazy></div>

     <li  class="nav-item dropdown" (click)="toggleDropdown()">
  <a  
    class="nav-link dropdown-toggle"
    href="#"
    id="avatarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="fa fa-user nav-icon" aria-hidden="true"></i>
    <span class="nav-text">
      {{ username ? username : 'Log in' }}
    </span>
  </a>
  <div *ngIf="!username" class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">
    <ul class="nav nav-tabs" id="loginSignupTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign up</a>
      </li>
    </ul>
    <div class="tab-content p-3" id="loginSignupTabsContent">
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" novalidate>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="loginUsername" name="loginUsername" [(ngModel)]="loginData.email" 
                   #loginUsername="ngModel" required placeholder="Username" 
                   [ngClass]="{'is-invalid': loginUsername.invalid && (loginUsername.dirty || loginUsername.touched || loginForm.submitted)}">
            <label for="loginUsername">Email</label>
            <div *ngIf="loginUsername.invalid && (loginUsername.dirty || loginUsername.touched || loginForm.submitted)" class="invalid-feedback">
              Email is required.
            </div>
          </div>
          <div class="form-floating mb-3 password-field">
            <input [type]="showLoginPassword ? 'text' : 'password'" class="form-control" id="loginPassword" name="loginPassword" [(ngModel)]="loginData.password" 
                   #loginPassword="ngModel" required placeholder="Password" 
                   [ngClass]="{'is-invalid': loginPassword.invalid && (loginPassword.dirty || loginPassword.touched || loginForm.submitted)}">
            <label for="loginPassword">Password</label>
            <i class="fa" [ngClass]="showLoginPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('login')"></i>
            <div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched || loginForm.submitted)" class="invalid-feedback">
              Password is required.
            </div>
          </div>
          <div *ngIf="loginErrorMessage" class="alert alert-danger mb-3">
            {{ loginErrorMessage }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
              <div *ngIf="loading" class="loader">
                <div class="dot first"></div>
                <div class="dot second"></div>
                <div class="dot third"></div>
                <div class="dot fourth"></div>
              </div>
              <div class="button-content" *ngIf="!loading">Login</div>
            </button>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
        <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm" novalidate>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="signupFullname" name="signupFullname" [(ngModel)]="signupData.fullname" 
                   #signupFullname="ngModel" required placeholder="Full Name" 
                   [ngClass]="{'is-invalid': signupFullname.invalid && (signupFullname.dirty || signupFullname.touched || signupForm.submitted)}">
            <label for="signupFullname">Full Name</label>
            <div *ngIf="signupFullname.invalid && (signupFullname.dirty || signupFullname.touched || signupForm.submitted)" class="invalid-feedback">
              Full Name is required.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="signupUsername" name="signupUsername" [(ngModel)]="signupData.username" 
                   #signupUsername="ngModel" required placeholder="Username" 
                   [ngClass]="{'is-invalid': signupUsername.invalid && (signupUsername.dirty || signupUsername.touched || signupForm.submitted)}">
            <label for="signupUsername">Username</label>
            <div *ngIf="signupUsername.invalid && (signupUsername.dirty || signupUsername.touched || signupForm.submitted)" class="invalid-feedback">
              Username is required.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="signupEmail" name="signupEmail" [(ngModel)]="signupData.email" 
                   #signupEmail="ngModel" required email placeholder="Email" 
                   [ngClass]="{'is-invalid': signupEmail.invalid && (signupEmail.dirty || signupEmail.touched || signupForm.submitted)}">
            <label for="signupEmail">Email</label>
            <div *ngIf="signupEmail.invalid && (signupEmail.dirty || signupEmail.touched || signupForm.submitted)" class="invalid-feedback">
              <div *ngIf="signupEmail.errors?.['required']">Email is required.</div>
              <div *ngIf="signupEmail.errors?.['email']">Please enter a valid email address.</div>
            </div>
          </div>
          <div class="form-floating mb-3 password-field">
            <input [type]="showSignupPassword ? 'text' : 'password'" class="form-control" id="signupPassword" name="signupPassword" [(ngModel)]="signupData.password" 
                   #signupPassword="ngModel" required minlength="6" placeholder="Password" 
                   [ngClass]="{'is-invalid': signupPassword.invalid && (signupPassword.dirty || signupPassword.touched || signupForm.submitted)}">
            <label for="signupPassword">Password</label>
            <i class="fa" [ngClass]="showSignupPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('signup')"></i>
            <div *ngIf="signupPassword.invalid && (signupPassword.dirty || signupPassword.touched || signupForm.submitted)" class="invalid-feedback">
              <div *ngIf="signupPassword.errors?.['required']">Password is required.</div>
              <div *ngIf="signupPassword.errors?.['minlength']">Password must be at least 6 characters long.</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
              <div *ngIf="loading" class="loader">
                <div class="dot first"></div>
                <div class="dot second"></div>
                <div class="dot third"></div>
                <div class="dot fourth"></div>
              </div>
              <div class="button-content" *ngIf="!loading">Sign up</div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="username" class="dropdown-menu dropdown-menu-right custom-dropdown" style="width: 100% !important;" aria-labelledby="avatarDropdown">
     <a class="dropdown-item d-flex align-items-center" href="/userProfile">
      <i class="fa fa-user mr-2"></i> My Profile
    </a> 
     <!--
    <a class="dropdown-item d-flex align-items-center" href="/contacts">
      <i class="fa fa-address-book mr-2"></i> My Contacts
    </a>
    <a class="dropdown-item d-flex align-items-center" href="/settings">
      <i class="fa fa-cog mr-2"></i> Account Settings
    </a> -->
    <div class="dropdown-divider"></div>
    <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);" (click)="logout()">
      <i class="fa fa-sign-out-alt mr-2"></i> Log Out
    </a>
  </div>
</li>

      
    </ul>
  </div>
</nav>
