<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="navbar-logo" src="assets/RhTravel-Color-Logo.png" alt="RH Travel Logo">
    </a>
    <ul class="navbar-nav ml-auto d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-heart nav-icon" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-bell nav-icon" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="down-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe nav-icon" aria-hidden="true"></i>
        </a>
        <div id="google_translate_element"></div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="avatarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user nav-icon" aria-hidden="true"></i>
          <span class="nav-text"> Log in</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">
          <ul class="nav nav-tabs" id="loginSignupTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign up</a>
            </li>
          </ul>
          <div class="tab-content p-3" id="loginSignupTabsContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form autocomplete="off">
                <div class="form-group">
                  <div class="custom-input" tabindex="0">
                      <label class="custom-label">
                          <div class="input-title">Username</div>
                          <input type="text" class="input-box" id="loginUsername" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                      </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-input" tabindex="0">
                    <label class="custom-label">
                        <div class="input-title">Password</div>
                        <input type="password" class="input-box" id="loginPassword" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <div class="text-center mt-2">
                  <a href="#">Forgot Your password?</a>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <form autocomplete="off">
                <div class="form-group">
                  <div class="custom-input" tabindex="0">
                    <label class="custom-label">
                        <div class="input-title">Username</div>
                        <input type="text" class="input-box" id="signupUsername" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-input" tabindex="0">
                    <label class="custom-label">
                        <div class="input-title">Password</div>
                        <input type="password" class="input-box" id="signupPassword" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-input" tabindex="0">
                    <label class="custom-label">
                        <div class="input-title">Confirm Password</div>
                        <input type="password" class="input-box" id="signupConfirmPassword" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </label>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="termsCheckbox" required>
                  <label class="form-check-label" for="termsCheckbox">I accept the <a href="#">Terms & Conditions</a></label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>