<!-- <app-date-picker></app-date-picker> -->
<div class="container mx-auto p-6">
  <div class="col-md-12 mb-4" *ngFor="let hotel of hotels">
  <div class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let img of hotel.images; let i = index" [attr.data-target]="'#carouselExampleIndicators'" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
      </ol>
      <div class="carousel-inner fixed-size-carousel">
        <div *ngFor="let img of hotel.images; let i = index" class="carousel-item" [class.active]="i === 0">
          <img class="d-block w-100 carousel-image" [src]="img" alt="Slide {{i}}">
        </div>
      </div>  
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="card-body">
      <div>
        <h2 class="card-title">
          {{ hotel.name }}
          <div class="reviews ml-4">
            <i *ngFor="let i of [1,2,3,]" class="fas fa-star text-yellow-500"></i>
            <i class="fas fa-star-half-alt text-yellow-500"></i>
            <i class="far fa-star text-yellow-500"></i>
            <!-- <span class="ml-2">({{ hotel.reviews }} reviews)</span> -->
          </div>
        </h2>
        <p class="card-text">{{ hotel.address }}</p>
        <div class="amenities">
          <i *ngFor="let amenity of hotel.amenities" [ngClass]="[amenity.icon]"></i>
        </div>
        <!-- <p class="card-text mt-2">
          <i class="fas fa-bed"></i> {{ hotel.roomType }}
          <span *ngFor="let feature of hotel.features">
            <i [ngClass]="feature.icon"></i>
          </span>
        </p> -->
      </div>
      <div class="card-footer">
        <div>
          <div class="card-price">INR {{ hotel.price }}</div>
          <small>for a night for 2 guests</small>
        </div>
        <div class="btn">Show all rooms</div>
      </div>
    </div>
  </div>
  </div>
</div>
