.section-padding {
  background-color: #f2f1f0;
}

.rh-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: #f2f1f0;
}

.filter-bar {
  width: 100%;
  background-color: #f2f1f0;
  padding-top: 20px;

}

.main-hotel-listing {
  width: 100%;
  background-color: #f2f1f0;
  padding: 10px;
  transition: width 0.3s;
  overflow-y: auto;
}

.map-overlay {
  flex-grow: 1;
  background-color: #e0e0e0;
  padding: 10px;
  transition: width 0.3s, min-width 0.3s;
  border-top-right-radius: inherit;
  /* position: relative; */
  min-width: 50px;
  overflow: hidden;
}

.map-overlay.show {
  min-width: 50px;
}

.overlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  opacity: 1;
}

.map-overlay.show .overlay {
  opacity: 0;
}

.toggle-map-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: left 0.5s ease, background-color 0.3s ease;
}

.toggle-map-btn.show {
  left: 32%;
}

.toggle-map-btn:hover {
  background-color: #0056b3;
}

.main-hotel-listing.shrink {
  width: 100%;
}

.button-text {
  display: inline-block;
  transition: opacity 0.3s;
}

.custom-checkbox:checked {
  background-color: #1b9bd0;
  border-color: #1b9bd0;
}

.custom-checkbox:focus {
  border-color: #1b9bd0;
  box-shadow: 0 0 0 3px rgba(27, 155, 208, 0.5);
}

@media (min-width: 769px) {
  .rh-container {
    flex-direction: row;
  }
  .filter-bar {
    width: 260px;
  }
  .main-hotel-listing {
    width: 1040px;
  }
  .main-hotel-listing.shrink {
    width: 510px;
  }
  .map-overlay {
    display: block;
  }
}

@media (max-width: 768px) {
  .filter-bar {
    width: 100%;
    padding: 5px;
  }
  .main-hotel-listing {
    width: 100%;
    padding: 5px;
  }
  .map-overlay {
    display: none;
  }
  .toggle-map-btn {
    left: 85%;
  }
  .main-hotel-listing.shrink {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .filter-bar {
    display: none;
  }
  .main-hotel-listing {
    width: 100%;
    padding: 5px;
  }
  .toggle-map-btn {
    left: 85%;
  }
  .main-hotel-listing.shrink {
    width: 100%;
  }
}

.sort-by {
  position: relative;
}

#sort-button {
  padding-right: 2.5rem; 
  text-align: left;
  position: relative;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  padding-left: 10px;

}

#sort-button .truncate {
  display: block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

#sort-button svg {
  transition: transform 0.2s ease;
}

#sort-button.open svg {
  transform: rotate(180deg);
}

#sort-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sort-options li {
  padding: 0.5rem 1rem;
  white-space: normal; 
}

#sort-options li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.hidden {
  display: none;
}

.image-slider {
  position: relative;
  overflow: hidden;
}

.image-slider div {
  transition: opacity 0.5s ease-in-out;
}

.image-slider div.hidden {
  opacity: 0;
}

.fa-bookmark {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #1b9bd0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
}

.amenity-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: #1bd04e;
}

.rh-address {

}

.rgb-button {
  background: linear-gradient(45deg, #f8f9fa, #205391, #1b9bd0);
  background-size: 600% 600%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.cursor-not-allowed {
  cursor: not-allowed;
  pointer-events: none;
}

.opacity-50 {
  opacity: 0.5;
}
.fa-heart-o {
  color: red;
  cursor: pointer; 
  z-index: 222;
}

.fa-heart {
  color: red;
  cursor: pointer;
}
.total
{
  margin: 20px;
}
.progress:indeterminate {
  --progress-color: rgb(27, 155, 208);
  background-image: repeating-linear-gradient(90deg, var(--progress-color) -1%, var(--progress-color) 10%, transparent 10%, transparent 90%);
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
  width: 90% !important;
  margin: auto;
  margin-top: 10px;
}


.w-64 {
  width: 12rem;
}

.h-16 {
  height: 3.5rem;
}
.Btn {
  font-family: inherit;
  font-size: 20px;
  background: #1b9bd0;
  color: white;
  padding: 0.7em 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.Btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.Btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.Btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.Btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.Btn:hover span {
  transform: translateX(5em);
}

.Btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
