/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProotUi';
    src: url('/assets/fonts/gilroy/pt-root-ui_vf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  body {
    font-family: 'ProotUi';
    font-weight: 400;
  }
 

.mainbtn {
    padding: 7px 25px;
    border: none;
    background-color: #51a9b4;
    box-shadow: 0px 0px 12px 4px #a6babd;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    transition: 0.2s all ease;
}
.mainbtn:hover {
    background-color: #7ecbd5;
    box-shadow: 0px 0px 13px 4px #51a9b4;
}

/* Global input styles */
.global-input {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow 0.3s ease;
    width: 100%;
}

.global-input:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.global-label {
    position: relative;
    width: 100%;
}

.global-input-box {
    font-size: 1rem;
    color: #333;
    margin-top: 15px;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
}

.global-input-box[type="date"], .global-input-box select {
    width: 100%;
    padding: 5px;
}

.global-input-title {
    font-size: 0.75rem;
    color: #888;
    position: absolute;
    top: 5px;
    left: 10px;
    background: #fff;
    padding: 0 5px;
    margin-top: -10px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.section-padding {
    padding: 40px 20px !important; 
    background-color: #ffffff;
}
.custom-input {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    display: flex;
    height: 43px;
    flex-direction: column;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.custom-input:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #1b9bd0;
}


.custom-label {
    position: relative;
    width: 100%;
}
.input-title {
    font-size: 0.75rem;
    color: #888;
    position: absolute;
    top: 1px;
    left: 10px;
    background: #fff;
    padding: 0 5px;
    margin-top: -10px; 
    color:#205391 ;

}
.input-box

{
    background: none;
    border: none;
	margin-left: 10px;
    height: 40px;
}
.input-box:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
  }
  .global-button {
    background-color: #1b9bd0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
  }
  
  .global-button:hover {
    background-color: #0056b3;
  }
  .global-title{
    font-size: 24px;
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 20px;
    transition: color 0.3s;
  }
 
  /* Remove the default focus outline */
:focus {
    outline: none;
}

:focus {
    outline: 2px solid #4A90E2; 
    outline-offset: 2px; 
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none; 
    border: none; 
    
}