<main>
    <div class="container">
        <div class="container-left">
            <div class="header-text">
                <h1>Room Details</h1>
            </div>
            <div class="maininfo">
                <h3>Table overview</h3>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i>Double Bed</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> Free Internet</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> Free Newspaper</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i>60 square meter</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i>Beach view</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> 2 persons</p>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> Double Bed</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> Free Internet</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i>Breakfast included</p>
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i>Private Balcony</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> Flat Screen TV</p>
                            </td>
                            <td>
                                <p> <i class="fa-solid fa-circle-check"></i> Jacuzzi</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p style="font-size: 13px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita doloribus, excepturi sed
                    recusandae veritatis a! Optio atque accusantium deleniti quos quae, quo quibusdam officiis obcaecati
                    nemo tenetur odit asperiores consequuntur.</p>


            </div>
        </div>
        <div class="container-right">
            <div class="header-text">
                <h1>Overview</h1>
            </div>
            <div class="overviev-container">
                <div class="mainbuttons">
                    <button (click)="onOverViewClick()">Overview</button>
                    <button (click)="onFacilitiesClick()">Facilities</button>
                    <button (click)="onExtraClick()">Extra</button>
                </div>

                <div class="mainText" [ngSwitch]="tab">

                <div class="overview" *ngSwitchDefault>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue,
                        quis rhoncus purus fermentum. In hendrerit risus arcu, in eleifend metus dapibus varius. Nulla
                        dolor sapien, laoreet vel tincidunt non, egestas non justo. Phasellus et mattis lectus, et
                        gravida urna.
                    </p>
                    <div class="bottom-text">
                        <p>Donec pretium sem non tincidunt iaculis. Nunc at pharetra eros, a varius leo. Mauris id
                            hendrerit justo. Mauris egestas magna vitae nisi ultricies semper. Nam vitae suscipit magna.
                            Nam et felis nulla. Ut nec magna tortor. Nulla dolor sapien, laoreet vel tincidunt non,
                            egestas non justo.
                        </p>
                        <img src="../../../../../assets/restaurant-01.jpg" alt="">
                    </div>
                </div>

                <div class="facilities" *ngSwitchCase="'facilities'" >
                    <p>Phasellus sodales justo felis, a vestibulum risus mattis vitae. Aliquam vitae varius elit, non
                        facilisis massa. Vestibulum luctus diam mollis gravida bibendum. Aliquam mattis velit dolor, sit
                        amet semper erat auctor vel. Integer auctor in dui ac vehicula. Integer fermentum nunc ut arcu
                        feugiat, nec placerat nunc tincidunt. Pellentesque in massa eu augue placerat cursus sed quis
                        magna.</p>
                </div>
                <div class="extra" *ngSwitchCase="'extra'" >
                    <p>Aa vestibulum risus mattis vitae. Aliquam vitae varius elit, non facilisis massa. Vestibulum
                        luctus diam mollis gravida bibendum. Aliquam mattis velit dolor, sit amet semper erat auctor
                        vel. Integer auctor in dui ac vehicula. Integer fermentum nunc ut arcu feugiat, nec placerat
                        nunc tincidunt. Pellentesque in massa eu augue placerat cursus sed quis magna.</p>
                </div>

            </div>

            </div>
        </div>
    </div>
</main>


<app-other-rooms></app-other-rooms>