<div style="background: whitesmoke;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
    <div style="max-width:870px;margin: 0px auto;padding-top:5px;align-items:flex-start;box-sizing:border-box;display:flex;width: 100%;border:0px none rgb(41, 47, 55);padding:5px 0px 0px;">
        <div style="margin-right:15px;max-width:570px;display:flex;flex-direction:column;border:0px none rgb(41, 47, 55);padding:0px;">
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                <div style="border-radius:5px;justify-content:space-between;background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;display:flex;flex-wrap:wrap;overflow:hidden;margin:0px;padding:0px;">
                    <div style="position:relative;width: 120px;z-index:1;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                        <div style="height:138.887px;width: 120px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                            <div style="cursor:default;pointer-events:none;border-radius:0px;height:138.887px;width: 120px;float:left;background:rgb(41, 47, 55) none repeat scroll 0% 0% / auto padding-box border-box;overflow:hidden;position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><img src="https://cdn.worldota.net/t/640x400/content/50/f1/50f1e44bc345b0b0e0fc332d1b6f3f04a7ed8126.jpeg" data-watcherror="watch" style="height:138.887px;object-fit:cover;position:relative;width: 100%;display:block;max-width:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;" /></div>
                        </div>
                    </div>
                    <div style="width: 280px;padding:5px 15px;box-sizing:border-box;min-height:100px;border:0px none rgb(41, 47, 55);margin:0px;">
                        <div style="margin:-2px 0px;border:0px none rgb(41, 47, 55);padding:0px;">
                            <div style="background:rgba(0, 0, 0, 0) url('https://st.worldota.net/master/f0c2afa-28d999c/img/star.svg') repeat scroll 0% 0% / auto padding-box border-box;display:inline-block;height:10px;width: 11px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                            <div style="background:rgba(0, 0, 0, 0) url('https://st.worldota.net/master/f0c2afa-28d999c/img/star.svg') repeat scroll 0% 0% / auto padding-box border-box;display:inline-block;height:10px;width: 11px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                        </div>
                        <div style="font-size:15px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Extended Stay America Suites Indianapolis NW College Park</div>
                        <div style="line-height:18px;color:rgb(133, 135, 139);font-size:12px;border:0px none rgb(133, 135, 139);margin:0px;padding:0px;">9030 Wesleyan Rd, Indianapolis</div>
                        <div style="font-size:15px;margin-top:4px;-webkit-font-smoothing:antialiased;line-height:20px;border:0px none rgb(41, 47, 55);margin:4px 0px 0px;padding:0px;">Double Studio<span style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"> (queen size bed)</span><span style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"> for 2 guests</span>
                            <div style="line-height:18px;font-size:12px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">full double bed</div>
                        </div>
                    </div>
                    <div style="border-left:1.25px solid rgb(218, 219, 220);flex-direction:column;justify-content:left;width: 170px;padding:10px 15px;box-sizing:border-box;-webkit-font-smoothing:antialiased;display:flex;margin:0px;">
                        <div style="margin-bottom:10px;border:0px none rgb(41, 47, 55);padding:0px;">
                            <div style="margin-bottom:3px;font-size:12px;border:0px none rgb(41, 47, 55);padding:0px;">Check-in from 15:00</div><span style="font-size:15px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">28 Sep 2024</span>
                        </div>
                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                            <div style="margin-bottom:3px;font-size:12px;border:0px none rgb(41, 47, 55);padding:0px;">Check-out until 11:00</div><span style="font-size:15px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">29 Sep 2024</span>
                        </div>
                    </div>
                    <div style="border-top:1.25px solid rgb(218, 219, 220);padding:10px 15px;box-sizing:border-box;width: 100%;margin:0px;">
                        <div style="align-items:flex-start;display:flex;flex-direction:column;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                            <ul style="flex-direction:row;justify-content:space-between;align-items:flex-start;display:flex;list-style:outside none none;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                <li style="color:rgb(0, 137, 0);margin-right:10px;padding-left:0px;margin-bottom:0px;align-items:flex-start;display:flex;flex-direction:column;flex: 0 1 auto;text-align:left;font-size:14px;line-height:18px;position:relative;border:0px none rgb(0, 137, 0);margin:0px 10px 0px 0px;padding:0px;">
                                    <div style="margin-right:0px;padding-left:30px;padding-right:20px;line-height:16px;position:relative;border:0px none rgb(0, 137, 0);padding:0px 20px 0px 30px;">
                                        <div style="cursor:pointer;display:inline;border:0px none rgb(0, 137, 0);margin:0px;padding:0px;">
                                            <div style="display:inline;border:0px none rgb(0, 137, 0);margin:0px;padding:0px;">Breakfast incl.</div>
                                        </div>
                                        <div style="display:block;margin-top:1px;margin-left:4px;position:absolute;border:0px none rgb(0, 137, 0);margin:1px 0px 0px 4px;padding:0px;">
                                            <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(0, 137, 0);padding:0px;"></div>
                                        </div>
                                    </div>
                                    <div style="color:rgb(0, 137, 0);padding-left:30px;display:block;font-size:12px;line-height:16px;border:0px none rgb(0, 137, 0);margin:0px;padding:0px 0px 0px 30px;"></div>
                                </li>
                                <li style="color:rgb(0, 137, 0);margin-right:10px;padding-left:0px;margin-bottom:0px;align-items:flex-start;display:flex;flex-direction:column;flex: 0 1 auto;text-align:left;font-size:14px;line-height:18px;position:relative;border:0px none rgb(0, 137, 0);margin:0px 10px 0px 0px;padding:0px;">
                                    <div style="margin-right:0px;padding-left:30px;padding-right:20px;line-height:16px;position:relative;border:0px none rgb(0, 137, 0);padding:0px 20px 0px 30px;">
                                        <div style="cursor:pointer;display:inline;border:0px none rgb(0, 137, 0);margin:0px;padding:0px;">
                                            <div style="display:inline;border:0px none rgb(0, 137, 0);margin:0px;padding:0px;">Free cancellation</div>
                                        </div>
                                        <div style="display:block;margin-top:1px;margin-left:4px;position:absolute;border:0px none rgb(0, 137, 0);margin:1px 0px 0px 4px;padding:0px;">
                                            <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(0, 137, 0);padding:0px;"></div>
                                        </div>
                                    </div>
                                    <div style="color:rgb(0, 137, 0);padding-left:30px;display:block;font-size:12px;line-height:16px;border:0px none rgb(0, 137, 0);margin:0px;padding:0px 0px 0px 30px;">before September 29*</div>
                                </li>
                                <li style="color:rgb(41, 47, 55);padding-left:0px;margin-bottom:0px;align-items:flex-start;display:flex;flex-direction:column;flex: 0 1 auto;text-align:left;font-size:14px;line-height:18px;position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="margin-right:0px;padding-left:30px;padding-right:20px;line-height:16px;position:relative;border:0px none rgb(41, 47, 55);padding:0px 20px 0px 30px;">
                                        <div style="cursor:pointer;display:inline;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                            <div style="display:inline;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Pay on the spot</div>
                                        </div>
                                        <div style="display:block;margin-top:1px;margin-left:4px;position:absolute;border:0px none rgb(41, 47, 55);margin:1px 0px 0px 4px;padding:0px;">
                                            <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                        </div>
                                    </div>
                                    <div style="padding-left:30px;display:block;font-size:12px;line-height:16px;border:0px none rgb(41, 47, 55);margin:0px;">Credit card required</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <!-- <div style="margin:15px 0px 0px;border:0px none rgb(41, 47, 55);padding:0px;">
                <div style="background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;border-radius:5px;padding:12px 40px;-webkit-font-smoothing:antialiased;overflow:hidden;position:relative;border:0px none rgb(41, 47, 55);margin:0px;">
                    <div style="padding-left:28px;font-size:16px;line-height:20px;position:relative;-webkit-font-smoothing:antialiased;border:0px none rgb(0, 140, 185);margin:0px;cursor:pointer;color:rgb(0, 140, 185);text-decoration:none solid rgb(0, 140, 185);transition:color 0.16s;">Log in and speed up the booking</div>
                </div>
            </div> -->
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="display:flex;flex-direction:column;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                <div style="padding:25px 20px 20px 75px;background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;border-radius:5px;margin:15px 0px;-webkit-font-smoothing:antialiased;border:0px none rgb(41, 47, 55);">
                    <div style="padding-right:30px;margin-bottom:5px;font-size:20px;font-weight:700;line-height:25px;position:relative;-webkit-font-smoothing:antialiased;border:0px none rgb(41, 47, 55);margin:0px 0px 5px;">Guest's contact info</div>
                    <div style="font-size:16px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Please fill out all the fields</div>
                    <form style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                        <div style="max-width:340px;margin:20px 0px 14px;border:0px none rgb(41, 47, 55);padding:0px;">
                            <div style="margin-bottom:16px;border:0px none rgb(41, 47, 55);padding:0px;">
                                <div style="position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <div style="background-color:rgb(255, 255, 255);border-radius:4px;box-shadow:rgba(45, 49, 55, 0.15) 0px 0px 0px 1px;display:block;position:relative;transition:box-shadow 0.16s;padding:3px 12px 5px;border:0px none rgb(41, 47, 55);margin:0px;"><label for="goog_1056232866" style="display:inline-flex;max-width:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                                <p style="color:rgb(45, 49, 55);line-height:17px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:1px;font-size:12px;border:0px none rgb(45, 49, 55);margin:0px 0px 1px;padding:0px;">E-mail</p>
                                                <div style="margin-left:8px;margin-top:-2px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;">
                                                    <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                                </div>
                                            </label>
                                            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input name="email" placeholder="example@mail.com" type="text" value="" maxlength="100" aria-label="example@mail.com" dir="ltr" style="background-color:rgba(0, 0, 0, 0);color:rgb(45, 49, 55);font-size:16px;line-height:20px;outline:rgb(45, 49, 55) none 0px;width: 100%;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;border:0px none rgb(45, 49, 55);margin:0px;padding:0px;" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom:16px;border:0px none rgb(41, 47, 55);padding:0px;">
                                <div style="position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <div style="background-color:rgb(255, 255, 255);border-radius:4px;box-shadow:rgba(45, 49, 55, 0.15) 0px 0px 0px 1px;display:block;position:relative;transition:box-shadow 0.16s;padding:3px 12px 5px;border:0px none rgb(41, 47, 55);margin:0px;"><label for="goog_1056232869" style="display:inline-flex;max-width:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                                <p style="color:rgb(45, 49, 55);line-height:17px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:1px;font-size:12px;border:0px none rgb(45, 49, 55);margin:0px 0px 1px;padding:0px;">Last name</p>
                                                <div style="margin-left:8px;margin-top:-2px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                            </label>
                                            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input autocomplete="off" name="room0.0LastName" placeholder="Doe" type="text" value="" maxlength="85" aria-label="Doe" style="background-color:rgba(0, 0, 0, 0);color:rgb(45, 49, 55);font-size:16px;line-height:20px;outline:rgb(45, 49, 55) none 0px;width: 100%;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;border:0px none rgb(45, 49, 55);margin:0px;padding:0px;" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom:16px;border:0px none rgb(41, 47, 55);padding:0px;">
                                <div style="position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <div style="background-color:rgb(255, 255, 255);border-radius:4px;box-shadow:rgba(45, 49, 55, 0.15) 0px 0px 0px 1px;display:block;position:relative;transition:box-shadow 0.16s;padding:3px 12px 5px;border:0px none rgb(41, 47, 55);margin:0px;"><label for="goog_1056232868" style="display:inline-flex;max-width:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                                <p style="color:rgb(45, 49, 55);line-height:17px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:1px;font-size:12px;border:0px none rgb(45, 49, 55);margin:0px 0px 1px;padding:0px;">First Name</p>
                                                <div style="margin-left:8px;margin-top:-2px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                            </label>
                                            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input autocomplete="off" name="room0.0FirstName" placeholder="John" type="text" value="" maxlength="85" aria-label="John" style="background-color:rgba(0, 0, 0, 0);color:rgb(45, 49, 55);font-size:16px;line-height:20px;outline:rgb(45, 49, 55) none 0px;width: 100%;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;border:0px none rgb(45, 49, 55);margin:0px;padding:0px;" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom:16px;border:0px none rgb(41, 47, 55);padding:0px;">
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="background-color:rgb(255, 255, 255);border-radius:4px;box-shadow:rgba(45, 49, 55, 0.15) 0px 0px 0px 1px;display:block;position:relative;transition:box-shadow 0.16s;padding:3px 12px 5px;border:0px none rgb(41, 47, 55);margin:0px;"><label for="goog_1056232867" style="display:inline-flex;max-width:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                            <p style="color:rgb(45, 49, 55);line-height:17px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:1px;font-size:12px;border:0px none rgb(45, 49, 55);margin:0px 0px 1px;padding:0px;">Tel.</p>
                                            <div style="margin-left:8px;margin-top:-2px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;">
                                                <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                            </div>
                                        </label>
                                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input name="phone" placeholder="+1234567890" type="tel" value="" maxlength="100" aria-label="+1234567890" dir="ltr" style="background-color:rgba(0, 0, 0, 0);color:rgb(45, 49, 55);font-size:16px;line-height:20px;outline:rgb(45, 49, 55) none 0px;width: 100%;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;border:0px none rgb(45, 49, 55);margin:0px;padding:0px;" /></div>
                                    </div>
                                </div>
                            </div>
                            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                <div style="position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <div style="background-color:rgb(255, 255, 255);border-radius:4px;box-shadow:rgba(45, 49, 55, 0.15) 0px 0px 0px 1px;display:block;position:relative;transition:box-shadow 0.16s;padding:3px 12px 5px;border:0px none rgb(41, 47, 55);margin:0px;"><label for="goog_1056232870" style="display:inline-flex;max-width:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                                <p style="color:rgb(45, 49, 55);line-height:17px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:1px;font-size:12px;border:0px none rgb(45, 49, 55);margin:0px 0px 1px;padding:0px;">Citizenship</p>
                                                <div style="margin-left:8px;margin-top:-2px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;">
                                                    <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                                </div>
                                            </label>
                                            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input autocomplete="off" autocorrect="off" name="residency" placeholder="Citizenship" type="text" value="India" aria-label="Citizenship" style="background-color:rgba(0, 0, 0, 0);color:rgb(45, 49, 55);font-size:16px;line-height:20px;outline:rgb(45, 49, 55) none 0px;width: 100%;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;border:0px none rgb(45, 49, 55);margin:0px;padding:0px;" /></div>
                                        </div>
                                    </div>
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                            <div style="padding:20px 0px;position:relative;border:0px none rgb(41, 47, 55);margin:0px;">
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><button style="display:flex;align-items:baseline;border:1.25px solid rgba(0, 0, 0, 0);cursor:pointer;font-size:16px;line-height:18px;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;margin:0px;padding:10px 16px;flex: 0 0 auto;min-height:40px;background-color:rgb(252, 238, 237);border-radius:4px;text-align:center;-webkit-font-smoothing:antialiased;box-sizing:border-box;color:rgb(245, 111, 107);outline:rgb(245, 111, 107) none 0px;position:relative;text-decoration:none solid rgb(245, 111, 107);transition:border 0.16s, background-color 0.16s, box-shadow 0.16s, color 0.16s;user-select:none;vertical-align:middle;"><svg width="15" height="11" viewBox="0 0 16 16" style="margin-right:8px;margin-left:-4px;fill:rgb(245, 111, 107);border:0px none rgb(245, 111, 107);padding:0px;">
                                                <path d="M10.9 14.62l6.15-6.14c.5-.5.5-1.31 0-1.81l-.18-.18a1.3 1.3 0 0 0-1.81 0L10 11.55 4.94 6.5c-.5-.5-1.32-.5-1.81 0l-.18.18c-.5.5-.5 1.31 0 1.81l6.14 6.14c.5.5 1.32.5 1.82 0" style="border:0px none rgb(245, 111, 107);margin:0px;padding:0px;"></path>
                                            </svg>
                                            <div style="border:0px none rgb(245, 111, 107);margin:0px;padding:0px;">Enter all the guests' names</div>
                                        </button></div>
                                </div> 
                                <div style="margin-top:8px;color:rgb(134, 134, 134);font-size:14px;border:0px none rgb(134, 134, 134);padding:0px;">Not necessary, but you might need it for the visa application</div>
                            </div>
                        </div> -->
                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                            <div style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-bottom:12px;padding-top:23px;background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;-webkit-font-smoothing:antialiased;position:relative;box-sizing:border-box;width: 100%;margin:0px;padding:23px 0px 12px;">
                                <h2 style="padding-right:30px;margin-bottom:15px;font-size:20px;font-weight:700;line-height:25px;-webkit-font-smoothing:antialiased;border:0px none rgb(41, 47, 55);margin:0px 0px 15px;">Arrival Details</h2>
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="margin-bottom:21px;border:0px none rgb(41, 47, 55);padding:0px;">
                                        <div style="display:inline-block;vertical-align:top;min-width:160px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                                                    <div style="padding-left:19px;border:1.25px solid rgba(133, 135, 139, 0.2);text-align:left;padding-right:40px;background-image:linear-gradient(rgb(255, 255, 255) 0%, rgb(250, 249, 248) 100%);border-radius:3px;box-shadow:rgba(79, 71, 63, 0.15) 0px 2px 0px 0px;cursor:pointer;user-select:none;height:45px;text-decoration:none solid rgb(41, 47, 55);white-space:nowrap;box-sizing:border-box;line-height:19px;-webkit-font-smoothing:antialiased;font-size:17px;font-weight:480;display:inline-block;position:relative;width: 160px;margin:0px;">
                                                        <div style="color:rgb(133, 135, 139);font-size:12px;border:0px none rgb(133, 135, 139);margin:0px;padding:0px;">Arrival Time</div>
                                                        <div style="color:rgb(41, 47, 55);border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Unknown</div>
                                                        <div style="left:0px;right:0px;bottom:0px;position:absolute;top:0px;z-index:1;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><select style="left:0px;cursor:pointer;height:42.5px;opacity:0;position:absolute;top:0px;width: 100%;border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">
                                                                <option value="Unknown" selected="true" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">Unknown</option>
                                                                <option value="15:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">15:00</option>
                                                                <option value="16:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">16:00</option>
                                                                <option value="17:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">17:00</option>
                                                                <option value="18:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">18:00</option>
                                                                <option value="19:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">19:00</option>
                                                                <option value="20:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">20:00</option>
                                                                <option value="21:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">21:00</option>
                                                                <option value="22:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">22:00</option>
                                                                <option value="23:00" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">23:00</option>
                                                                <option value="00:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">00:00, Sep 29</option>
                                                                <option value="01:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">01:00, Sep 29</option>
                                                                <option value="02:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">02:00, Sep 29</option>
                                                                <option value="03:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">03:00, Sep 29</option>
                                                                <option value="04:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">04:00, Sep 29</option>
                                                                <option value="05:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">05:00, Sep 29</option>
                                                                <option value="06:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">06:00, Sep 29</option>
                                                                <option value="07:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">07:00, Sep 29</option>
                                                                <option value="08:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">08:00, Sep 29</option>
                                                                <option value="09:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">09:00, Sep 29</option>
                                                                <option value="10:00, Sep 29" style="border:0px none rgb(0, 0, 0);margin:0px;padding:0px;">10:00, Sep 29</option>
                                                            </select></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-left:15px;padding-top:8px;color:rgb(133, 135, 139);display:inline-block;font-size:12px;vertical-align:top;width: 140px;border:0px none rgb(133, 135, 139);padding:8px 0px 0px;">Your room<br style="border:0px none rgb(133, 135, 139);margin:0px;padding:0px;" /> will be ready by <span style="border:0px none rgb(133, 135, 139);margin:0px;padding:0px;">15:00</span></div>
                                    </div>
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <!-- <div style="padding-left:20px;margin-bottom:8px;display:inline-block;font-size:14px;position:relative;border:0px none rgb(0, 140, 185);margin:0px 0px 8px;cursor:pointer;color:rgb(0, 140, 185);text-decoration:none solid rgb(0, 140, 185);transition:color 0.16s;">Your requests</div> -->
                                        <div style="display:none;padding-left:20px;margin-bottom:12px;font-size:14px;width: 320px;border:0px none rgb(41, 47, 55);margin:0px 0px 12px;padding:0px 0px 0px 20px;">Special requests are at the discretion of the hotel and subject to availability (optional).</div>
                                        <div style="display:none;padding-left:20px;height:68px;max-width:320px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px 0px 0px 20px;">
                                            <div style="height:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><label style="background-color:rgb(255, 255, 255);border-radius:4px;box-shadow:rgba(45, 49, 55, 0.15) 0px 0px 0px 1px;padding:5px 0px;box-sizing:border-box;display:flex;flex-direction:column;height:100%;position:relative;border:0px none rgb(41, 47, 55);margin:0px;">
                                                    <div style="height:100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><textarea name="user_comment" placeholder="Your requests" value="" maxlength="1000" aria-label="Your requests" data-gramm_editor="false" style="background-color:rgba(0, 0, 0, 0);padding:0px 16px;box-sizing:border-box;color:rgb(45, 49, 55);flex-grow:1;font-size:16px;height:100%;line-height:20px;outline:rgb(45, 49, 55) none 0px;resize:none;width: 100%;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;border:0px none rgb(45, 49, 55);margin:0px;"></textarea></div>
                                                </label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="align-items:center;display:flex;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="text-align:center;margin:15px 0px;border:0px none rgb(41, 47, 55);padding:0px;">
                <div style="padding:25px 20px 20px 75px;text-align:left;background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;border-radius:5px;margin: 0px auto;-webkit-font-smoothing:antialiased;border:0px none rgb(41, 47, 55);"><button style="border:1.25px solid rgba(0, 0, 0, 0);cursor:pointer;font-size:18px;line-height:22px;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;margin:0px;padding:11px 20px;flex: 0 0 auto;min-height:46px;background-color:rgb(245, 111, 107);border-radius:4px;text-align:center;-webkit-font-smoothing:antialiased;box-sizing:border-box;color:rgb(255, 255, 255);display:inline-block;outline:rgb(255, 255, 255) none 0px;position:relative;text-decoration:none solid rgb(255, 255, 255);transition:border 0.16s, background-color 0.16s, box-shadow 0.16s, color 0.16s;user-select:none;vertical-align:middle;">Continue</button>
                    <div style="margin-left:20px;display:inline-block;max-width:250px;font-size:15px;vertical-align:middle;-webkit-font-smoothing:antialiased;border:0px none rgb(41, 47, 55);padding:0px;">
                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Next step 2 out of 2:</div>
                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Booking confirmation</div>
                    </div>
                    <div style="margin-top:6px;color:rgb(134, 134, 134);font-size:12px;border:0px none rgb(134, 134, 134);padding:0px;">By clicking "Continue", you confirm that you are familiar with the <a data-intention="privacy_link.newwindow" target="_blank" href="/legal/site/privacy-policy/" style="color:rgb(134, 134, 134);font-size:12px;border:0px none rgb(134, 134, 134);margin:0px;padding:0px;text-decoration:none solid rgb(134, 134, 134);">Personal Data Processing Policy</a>.</div>
                </div>
            </div>
        </div>
        <div style="width: 285px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
            <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
            <div style="width: 100%;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                <div style="box-shadow:none;height:505.352px;-webkit-font-smoothing:antialiased;pointer-events:all;position:relative;transition:transform 0.27s ease-out;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                    <div style="background-color:rgb(255, 255, 255);border-radius:5px;position:relative;z-index:8;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                        <div style="padding: 10px;background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;border-radius:5px 5px 0px 0px;position:relative;z-index:9;border:0px none rgb(41, 47, 55);margin:0px;">
                            <div style="margin-bottom:5px;padding-top:20px;border:0px none rgb(41, 47, 55);padding:20px 0px 0px;">
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="display:flex;justify-content:space-between;position:relative;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <div style="margin-bottom:4px;-webkit-font-smoothing:antialiased;font-size:16px;font-weight:700;line-height:18px;border:0px none rgb(41, 47, 55);padding:0px;">Room price</div>
                                        <div style="font-size:13px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">1 × INR&nbsp;6,342</div>
                                    </div>
                                    <div style="color:rgb(134, 134, 134);font-size:12px;white-space:pre-wrap;width: 143px;border:0px none rgb(134, 134, 134);margin:0px;padding:0px;">for 2 adults for 1 night</div>
                                    <div style="margin:5px 0px;color:rgb(134, 134, 134);display:flex;font-size:12px;justify-content:space-between;border:0px none rgb(134, 134, 134);padding:0px;">
                                        <div style="border:0px none rgb(134, 134, 134);margin:0px;padding:0px;">Including Occupancy tax</div>
                                        <div style="border:0px none rgb(134, 134, 134);margin:0px;padding:0px;">INR&nbsp;921.49</div>
                                    </div>
                                </div>
                            <!-- </div><span style="margin-bottom:5px;font-size:12px;border:0px none rgb(0, 140, 185);padding:0px;cursor:pointer;color:rgb(0, 140, 185);text-decoration:none solid rgb(0, 140, 185);transition:color 0.16s;">Rate details</span><span style="margin-bottom:5px;font-size:12px;border:0px none rgb(0, 140, 185);padding:0px;cursor:pointer;color:rgb(0, 140, 185);text-decoration:none solid rgb(0, 140, 185);transition:color 0.16s;">Important, please note</span> -->
                            <div style="margin-top:10px;overflow:hidden;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                            <!-- <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="margin-bottom:12px;position:relative;border:0px none rgb(41, 47, 55);padding:0px;">
                                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><label style="display:inline-flex;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input type="radio" value="nothing_control" name="price_info-discount" checked="true" style="border:0px none rgb(0, 0, 0);margin:-1px;padding:0px;clip:rect(0px, 0px, 0px, 0px);height:0.996094px;overflow:hidden;position:absolute;width: 1px;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;" />
                                                <div style="background-color:rgb(255, 255, 255);border:2.5px solid rgb(245, 111, 107);box-shadow:rgb(245, 111, 107) 0px 0px 0px 1px;margin-right:8px;border-color:rgb(245, 111, 107);border-radius:50%;cursor:pointer;margin-top:2px;box-sizing:border-box;flex-shrink:0;height:13.9844px;position:relative;transition:border-color 0.16s, box-shadow 0.16s, background-color 0.16s;width: 14px;margin:2px 8px 0px 0px;padding:0px;"></div>
                                                <div style="cursor:pointer;display:block;font-size:14px;line-height:18px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">No discount</div>
                                            </label></div>
                                    </div>
                                    <div style="margin-bottom:12px;position:relative;border:0px none rgb(41, 47, 55);padding:0px;">
                                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><label style="display:inline-flex;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><input type="radio" value="promocode_control" name="price_info-discount" style="border:0px none rgb(0, 0, 0);margin:-1px;padding:0px;clip:rect(0px, 0px, 0px, 0px);height:0.996094px;overflow:hidden;position:absolute;width: 1px;font-family:PTRootUI, Verdana, sans-serif;font-weight:480;" />
                                                <div style="margin-right:8px;background-color:rgb(255, 255, 255);border-color:rgb(221, 59, 55);border-radius:50%;box-shadow:rgb(229, 229, 229) 0px 0px 0px 1px;cursor:pointer;margin-top:2px;box-sizing:border-box;flex-shrink:0;height:13.9844px;position:relative;transition:border-color 0.16s, box-shadow 0.16s, background-color 0.16s;width: 14px;border:0px none rgb(221, 59, 55);padding:0px;"></div>
                                                <div style="cursor:pointer;display:block;font-size:14px;line-height:18px;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Apply the promo code</div>
                                            </label></div>
                                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                                    </div>
                                </div>
                            </div> -->
                            <div style="padding:15px 0px;border-top:1.25px solid rgb(218, 219, 220);margin-top:10px;border: 0px;margin:10px 0px 0px;">
                                <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                    <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">
                                        <div style="-webkit-font-smoothing:antialiased;font-size:16px;font-weight:700;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"><span style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">To be paid at the hotel</span></div>
                                        <div style="margin-top:4px;-webkit-font-smoothing:antialiased;font-size:20px;font-weight:480;border:0px none rgb(41, 47, 55);padding:0px;">
                                            <div style="font-weight:700;border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">$&nbsp;75.82<div style="margin-top:2px;-webkit-font-smoothing:antialiased;color:rgb(134, 134, 134);font-size:12px;line-height:16px;border:0px none rgb(134, 134, 134);padding:0px;">INR&nbsp;6,342</div>
                                                <div style="margin-top:4px;font-size:12px;line-height:15px;border:0px none rgb(41, 47, 55);padding:0px;">
                                                    <div style="color:rgb(134, 134, 134);display:inline;border:0px none rgb(134, 134, 134);margin:0px;padding:0px;">Approximate price in INR: the currency rate might change at the time of payment.</div>
                                                    <div style="margin-left:8px;display:inline-block;border:0px none rgb(41, 47, 55);padding:0px;">
                                                        <div style="margin:-3px;display:inline-block;height:21.9922px;position:relative;width: 22px;z-index:2;border:0px none rgb(41, 47, 55);padding:0px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border-top:1.25px solid rgb(218, 219, 220);border-radius:0px 0px 5px 5px;margin:0px 20px;padding:17px 0px;position:relative;z-index:7;">
                            <div style="margin-top:5px;color:rgb(134, 134, 134);font-size:12px;line-height:17px;border:0px none rgb(134, 134, 134);padding:0px;"><span style="-webkit-font-smoothing:antialiased;color:rgb(41, 47, 55);border:0px none rgb(41, 47, 55);margin:0px;padding:0px;">Please note</span> You'll have to pay taxes and fees in the local currency (USD).</div>
                        </div>
                        <div style="border:0px none rgb(41, 47, 55);margin:0px;padding:0px;"></div>
                    </div>
                    <div style="margin-top:10px;padding:15px 20px 10px;align-items:center;display:flex;flex-wrap:wrap;justify-content:space-around;border:0px none rgb(41, 47, 55);">
                        <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/stripepowered.svg');height:26.9922px;width: 98px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
                        <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/visa.svg');height:32.9883px;width: 33px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
                        <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/mastercard.svg');height:22.9883px;width: 64px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
                        <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/thawte.svg');height:22.9883px;width: 89px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
                        <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/dss.svg');height:28.9844px;width: 70px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
                    </div>
                    <section style="margin-top:0px;border:0px none rgb(41, 47, 55);padding:0px;"></section>
                </div>
            </div>
        </div>
    </div>
</div>