<div class="container">
    <div class="content">
      <div class="left-section">
        <div class="main-card">
          <div class="image-section">
            <div class="image-container">
              <div class="image-wrapper">
                <div class="image">
                  <!-- Bind hotel image dynamically -->
                  <img [src]="hotelImage" alt="Hotel Image" />
                </div>
              </div>
            </div>
            <div class="details">
              <div class="rating">
                <!-- Dynamically render stars based on the hotel's rating -->
                <div *ngFor="let star of getStars(hotelRating)" class="star"></div>
              </div>
              <div class="hotel-name">{{ hotelName }}</div>
              <div class="location">{{ hotelAddress }}</div>
              <div class="room-info">
                {{ roomType }}<span> ({{ roomSize }})</span><span> for {{ guests }} guests</span>
              </div>
            </div>
            <div class="dates">
              <div class="check-in">
                <div class="label">Check-in from {{ checkIn }}</div>
              </div>
              <div class="check-out">
                <div class="label">Check-out until {{ checkOut }}</div>
              </div>
            </div>
           
          </div>
          <div class="extras">
            <ul>
              <li class="extra-item">
                <div>{{ mealPlan }}</div>
              </li>
              <li class="extra-item">
                <div>{{ cancellationPolicy }}</div>
              </li>
              <li class="extra-item">
                <div>Pay on the spot</div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Form section for guest's info -->
        <div class="form-container">
            <div class="form-title">Guest's Contact Info</div>
            <div class="form-subtitle">Please fill out all the fields</div>
            <form [formGroup]="guestForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input formControlName="email" class="form-input" placeholder="example@mail.com" type="text" maxlength="100" />
                    <div *ngIf="guestForm?.get('email')?.invalid && guestForm?.get('email')?.touched">
                        <small class="error">Email is required and must be a valid email.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input formControlName="lastName" class="form-input" placeholder="Doe" type="text" maxlength="85" />
                    <div *ngIf="guestForm?.get('lastName')?.invalid && guestForm?.get('lastName')?.touched">
                        <small class="error">Last name is required.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input formControlName="firstName" class="form-input" placeholder="John" type="text" maxlength="85" />
                    <div *ngIf="guestForm?.get('firstName')?.invalid && guestForm?.get('firstName')?.touched">
                        <small class="error">First name is required.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input formControlName="phone" class="form-input" placeholder="+1234567890" type="tel" maxlength="100" />
                    <div *ngIf="guestForm?.get('phone')?.invalid && guestForm?.get('phone')?.touched">
                        <small class="error">Phone number is required.</small>
                    </div>
                </div>
               
                <button type="submit" class="submit-btn">Book</button>
                <p *ngIf="!authService.isAuthenticated()" class="login-note">
                  *Note: You need to log in to proceed with the booking.
                </p>
            </form>
        </div>
        
          
      </div>
      <div class="right-section">
        <div class="pricing-card">
          <div class="price-details">
            <div class="room-price">
              <div>Room price</div>
              <div>{{ currency }} {{ price | number: '1.2-2' }}</div>
            </div>
            <div class="price-info">
              for {{ guests }} adults for {{ nights }} night
            </div>
          </div>
      
          <!-- Payment Section -->
          <div class="total-price">
            <div class="currency-selection">
              <label for="currency" class="payment-label">Payment currency:</label>
              <select id="currency" [(ngModel)]="selectedCurrency" (change)="onCurrencyChange($event)" class="currency-dropdown">
                <option *ngFor="let currency of availableCurrencies" [value]="currency">
                  {{ currency }}
                </option>
              </select>
            </div>
            <div class="currency-selection">
              <span class="pay-label">Pay now in currency</span>
              <div class="converted-price">{{ selectedCurrency }} {{ convertedPrice | number: '1.2-2' }}</div>
            </div>
          </div>
      
          <!-- Payment notice -->
          <div class="payment-notice">
            Please note: You'll have to pay taxes and fees in the local currency ({{selectedCurrency}}).
          </div>
        </div>
        <div class="relative" style="    right: -50px;   max-width: 280px;margin-top:10px;padding:15px 20px 10px;align-items:center;display:flex;flex-wrap:wrap;justify-content:space-around;border:0px none rgb(41, 47, 55);">
          <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/stripepowered.svg');height:27px;width: 98px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
          <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/visa.svg');height:33px;width: 33px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
          <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/mastercard.svg');height:23px;width: 64px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
          <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/thawte.svg');height:23px;width: 89px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
          <div style="background-image:url('https://st.worldota.net/master/f0c2afa-28d999c/img/svg/securitylogos/dss.svg');height:29px;width: 70px;margin-right:5px;background-repeat:no-repeat;background-size:contain;margin-bottom:10px;border:0px none rgb(41, 47, 55);margin:0px 5px 10px 0px;padding:0px;"></div>
      </div>
      </div>
      
  </div>
  <!-- Inside your component template -->
  <div *ngIf="isModalVisible" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-1/3 text-center">
      <!-- Ticking Checkmark Animation -->
      <div class="checkmark-circle">
        <svg class="checkmark-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark-circle-svg" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark-svg-path" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
      </div>
  
      <h3 class="text-xl font-semibold mb-4">Order Confirmed!</h3>
      <p class="text-gray-600 mb-4">Your booking has been successfully confirmed.</p>
      <button (click)="closeModal()" class="px-4 py-2 text-white bg-green-600 rounded-lg">OK</button>
    </div>
  </div>
  

  